
{% block body %}

<div id="section_header">
  <div class="container">
    <h2><span>About</span> Our Club</h2>
  </div>
</div>
<div id="about_section_1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6"> <img src="../static/images/about3.jpg" class= "img-responsive" alt=" "> </div>
      <div class="col-lg-6">
        <h3>Who We Are</h3>
        <p >The aim of the West Karate Club(IJKA) is to foster the true spirit of karate and develop international relations between countries under the guidence of world class instructors such as Shihan Kato (9th Dan).
<br>
		Here in West Karate we hold true to this aim by teaching karate in our club and by holding open competitions and courses attended by people from all over the world.
<br>
		It is in this fashion that we hope to grow and develop the IJKA and ourselves further.
<br>
		All styles and organisations are welcome to attend IJKA courses.
<br>
		To contact us or find out more information about the IJKA both at home here in Ireland or around the rest of the world just contact us by e-mail or use the contact information given.</p>
        <h3>Our History</h3>
        <p>West Karate was set up in 2008 by Chief Instructor Brendan O’Flaherty. The aim of the club was to create a youth academy that would revival any club in Ireland. West Karate is affiliated with the IJKA Ireland under the guidance of <a class="ex1" href="http://www.ijkaireland.net/toomey.php" target="blank">Sensei Toomey (IJKA)</a> and <a class="ex1" href="http://www.ijka.net/index.php?page=chief-instructor-2" target="blank">Shihan Kato (9th Dan)</a>. THe club is situated at<a class="ex1" href="http://www.activefitness.ie/" target="blank"> Active Fitness</a> in the Connaght Hotel, Dublin Road, Galway.     </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}