{% block content %}
  

<div id="Stage" class="EDGE-276238557">
	</div>
	</div>
	<div id="section_header">
  <h2><span>Join </span> West Karate Club.</h2>
</div>
<!-- Slider -->
<div class="header-banner"> 

  <script src="js/responsiveslides.min.js"></script> 
  <script>
			 $(function () {
			  $("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				pager: true,
			  });
			 });
			 </script>
  <div class="container">
    <div class="slider">
      <div class="callbacks_container">
        <ul class="rslides" id="slider">
          <li> <img src="images/karateindex.jpg" alt="">
            <div class="caption">
              <h1>Youth Academy<span>.</span></h1>
              <p>West Karate have a world class Youth Academy.</p>
              <a href="services.html" class="btn">More Info</a> </div>
          </li>
          <li> <img src="images/karateindex4.jpg" alt="">
            <div class="caption">
              <h1>World Class Team.<span>.</span></h1>
             
              <a href="services.html" class="btn">More Info</a> </div>
          </li>
          <li> <img src="images/karateindex3.jpg" alt="">
            <div class="caption">
              <h1>Professional Training<span>.</span></h1>
              <p>Classes every Friday and Saturday.</p>
              <a href="services.html" class="btn">More Info</a> </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Welcome Section -->
<div id="section_header">
  <h2><span>Welcome</span> to West Karate Club.</h2>
</div>
<div id="welcome">
  <div class="container">
    <div class="col-md-6"> <img class="img-responsive" src="images/team.jpg" align=""> </div>
    <div class="col-md-6">
      <h3>About us</h3>
      
<p>The aim of the West Karate Club(IJKA) is to foster the true spirit of karate and develop international relations between countries under the guidence of world class instructors such as Shihan Kato (9th Dan).</p>
<p> Here in West Karate we hold true to this aim by teaching karate in our club and by holding open competitions and courses attended by people from all over the world.</p>
<p> It is in this fashion that we hope to grow and develop the IJKA and ourselves further.</p>
<p>All styles and organisations are welcome to attend IJKA courses. </p>

      <a href="about.html" class="btn">More</a> </div>
  </div>
</div>
</div>
<!-- What you need section -->
<div id="section_header">
  <h2><span>What</span> you need </h2>
</div>
<div id="main-services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 centered"> <i class="fa fa-gears fa-3x"></i>
        <h3>Equipment required</h3>
		<p>In west Karate we believe that Karate should be accessible to all, so there is very little needed to give Karate a try.</p>
		<ul id="list" style="list-style-type: none;">
			<li><a class="ex1" style="hover:colour: blue"href="http://www.elverys.ie/category/Running-Shoes/0000000609" target="blank">Runners , </a>
			<a  class="ex2"href="http://www.elverys.ie/Product/Rival-Karate-Suit-160cm-White/215033/0000000768" target="blank"> Karate suit ,</a>
			<a class="ex3" href="http://www.gumshieldpro.ie" target="blank"> Gum shield</a></li>
		</ul>
        
        <a href="services.html" class="btn">More</a> </div>
      <div class="col-lg-4 centered"> <i class="fa fa-briefcase fa-3x"></i>
        <h3>Principles</h3>
        <p>The Twenty Guiding Principles of Karate

By Gichin Funakoshi, Founder of Karate-Do

Gichin Funakoshi (1868 – 1957), the “father of karate,” once said “The ultimate aim of karate lies not in victory nor defeat, but in the perfection of the character of its participants.”</p>
        <a href="services.html" class="btn">More</a> </div>
      <div class="col-lg-4 centered"> <i class="fa fa-line-chart fa-3x"></i>
        <h3>Our success</h3>
        <p>We have had major success at local and national level. The club has also had major success as part of the Irish Team in the World Championships.</p>
        <a href="services.html" class="btn">More</a> </div>
    </div>
  </div>
</div>
<!-- Our clients Section -->
<div id="section_header">
  <h2><span>Our</span> Team</h2>
</div>
<div id="clients">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <p>West Karate has some of the finest instructors in the country. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"> <a href="Instructors.html#Rebecca"><img src="images/Brenden.png" class="img-circle"  width= "100px" height="100px"><p>Chief Instructor of West Karate Club is a Galway native..... </p> </a></div>
      <div class="col-lg-2"> <a href="Instructors.html#Rebecca"><img src="images/Rebecca.png" class="img-circle"  width= "100px" height="100px"><p>Galway native Rebecca is studying accountancy in NUI Galway.....</p> </a></div>
      <div class="col-lg-2"> <a href="Instructors.html#Rebecca"><img src="images/Jessica.png" class="img-circle"  width= "100px" height="100px"><p>Galway native Jessica has being studying Karate for 13 years.....</p> </a></div>
      <div class="col-lg-2"><a href="Instructors.html#Danielle"> <img src="images/Danell.png" class="img-circle"  width= "100px" height="100px"><p>Galway native Danielle has being studying Karate for 13 years........</p> </a></div>
      <div class="col-lg-2"><a href="Instructors.html#Danielle"> <img src="images/Craig.png" class="img-circle"  width= "100px" height="100px"><p>Galway native Craig has being studying Karate for 10 years.....</p> </a></div>
      <div class="col-lg-2"><a href="Instructors.html#Danielle"> <img src="images/johnaton.png" class="img-circle"  width= "100px" height="100px"><p>Johnathan lives in Carnmore and is studying Exercise,Fitness.....</p> </a></div>
    </div>
  </div>
</div>
{% endblock %}