

{% block body %}
<div id="section_header">
  <div class="container">
    <h2><span>Our</span> Classes</h2>
  </div>
</div>
<div id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 service">
        <h3>Classes </h3>
	
		<table class="table-responsive table-striped" >
		<caption ><b> Beginner and Advanced classes, family discounts available </b></caption>
			<tr>
				<th>Activities</th>
				<th>Days and Times</th>
				<th>Cost</th>
			</tr> 
			<tr >
			
			<td>Beginners</td>
			<td>Friday 6:30 pm-7:30 pm</td>
			<td>€5.00 per class</td>
			</tr>
			<tr >
			<td>Advanced</td>
			<td>Fridays, 7:30 pm-9:00 pm</td>
			<td>€5.00 per class</td>
			</tr>
			<tr >
			<td>Beginners/Advanced</td>
			<td>Saturday 11:30 am-1:00pm</td>
			<td>€5.00 per class</td>
			</tr>
			
</table>
<br>
        <p>West Karate have classes for all levels from the beginner to the most advanced students. We aim to make Karate afordable to all so the classes are only €5 per class but discounts are available for families.
<br>		So what are you waiting for? give us a call today.		</p>
        <img width= "70%"src="../static/images/club1.png" class="img-responsive" alt=" "> 
		</div>
      <div class="col-lg-6 service">
        <h3>Class Etiquette</h3>
		<ul>
			<li> Remove shoes and socks upon entering the dojo. Shoes are <b>NEVER</b>
			worn on the training floor. </li>
			
			<li> Bow upon entering or leaving the dojo floor. This is to show respect
			for the facilities used in the practice of karate. </li>

			<lI> Students always line up for class in order of grade. For beginners,
			this means that you will stay on the side closest to the door. </li>

			<li> There should be no talking between students while class is in session.
			Questions may be asked at an appropriate time. </li>

			<li> Always follow the instructions given by the instructor. If you are
			unfamiliar with the movements, try to copy the person next to you or a
			senior. </li>

			<li> Never refer to an instructor by name while in the dojo. Always use the
			term "Sensei". </li>

			<li> At <b>NO</b> time will horseplay be tolerated. Karate is a discipline
			of both mind and body, and as such demands full concentration and serious
			effort on the part of the student. Horseplay can only lead to loss of
			knowledge and possible injury to oneself or one's partner. </li>

			<li> Jewellery should not be worn while training. Watches, rings, earrings,
			necklaces, etc. often get in the way and can cause otherwise avoidable
			injuries. </li>

			<li> Good hygiene should be followed. Fingers and toenails should be kept
			short to prevent injury while training and hands and feet should be clean.
			 </li>

			<li> Keep the dojo clean. Clothing should be neatly placed along the wall
			of the dojo. Make sure that any rubbish is properly disposed. </li>

			<li> As a safety precaution, chewing gum is not allowed in class. </li>

		</ul>
		</div>
		</div>
	</div>
</div>


{% endblock %}