{% block body %}
<div id="section_header">
  <h2><span>Join </span> West Karate Club.</h2>
</div>
<!-- Slider -->
<div class="header-banner"> 

  <script src="../static/js/responsiveslides.min.js"></script> 
  <script>
			 $(function () {
			  $("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				pager: true,
			  });
			 });
			 </script>
  <div class="container">
    <div class="slider">
      <div class="callbacks_container">
        <ul class="rslides" id="slider">
          <li> <img src="../static/images/karateindex.jpg" alt="">
            <div class="caption">
              <h1>Youth Academy<span>.</span></h1>
              <p>West Karate have a world class Youth Academy.</p>
             
			 </div>
          </li>
          <li> <img src="../static/images/karateindex4.jpg" alt="">
            <div class="caption">
              <h1>World Class Team.<span>.</span></h1>
             
             
			</div>
          </li>
          <li> <img src="../static/images/karateindex3.jpg" alt="">
            <div class="caption">
              <h1>Professional Training<span>.</span></h1>
              <p>Classes every Friday and Saturday.</p>
             
			 </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
</div>
{% endblock %}